include component/pug/_component.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body 
        block navigasi 
            -var data_link=['Home','Blog','About','Contact'] 
            +navigasi(data_link)
        block header 
        block content
        block footer 
            +footer(.....,.....)